* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;
    background: #f8f9fc;
}

.register-container {
    width: 50%;
    height: 100%;
}

.register-form {
    background: #fff;
    padding: 0 0 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.register-form__header {
    padding: 0 30px;
    height: 86px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.register-form__logo {
    width: 60px;
}

.register-form__logo:hover
{
    opacity: 0.6;
}

.register-form__body {
    padding: 120px 180px 0;
}

.register-form__body h2 {
    font-size: 32px;
}

.register-form__decs {
    margin-top: 6px;
    color: #666;
}

.register-form__input {
    margin-top: 16px;
}

.register-form__input label {
    margin-top: 10px;
    width: 100%;
    display: block;
}

.register-form__input input {
    width: 66%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 38%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.register-form__chars{
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.8;
}

.register-form__checkbox{
    margin: 16px 0 0;
    display: flex;
    gap: 4px;
    font-size: 14px;
}

.register-btn {
    width: 66%;
    padding: 10px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 18px;
    transition: transform .3s linear;
}

.register-btn:hover,
.google-register:hover {
    opacity: 0.8;
    transform: translateY(-4px);
}

.google-register {
    width: 66%;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s linear;
}

.google-register__img {
    width: 20px;
    height: 20px;
    margin: 0 4px 2px 0;
}

.signup-text {
    margin-top: 32px !important;
    text-align: center;
    margin-top: 15px;
    transform: translateX(-16%);
}

.signup-text a {
    color: #000;
    font-weight: 600;
}

.signup-text a:hover {
    color: #6a5acd;
}

/* section 2 */

.register-side-form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-side-background {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
}

.register-side-image {
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s linear;
}

.register-side-image:hover{
    cursor: pointer;
    transform: translateY(-8px);
}

.property-card {
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    border-radius: 10px;
    height: 160px;
    transition: transform 0.3s linear;
}


.badge {
    position: absolute;
    top: 45%;
    left: -5%;
    background: #6a5acd;
    color: white;
    padding: 6px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.badge::after {
    content: "";
    z-index: -2;
    position: absolute;
    bottom: -8px;
    border-radius: 12px;
    left: 1px;
    transform: rotate(29deg);
    width: 34px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #241673;
}

.badge i {
    margin-bottom: 1px;
}

.property-card-heading {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.property-card-heading h3 {
    margin-top: 20px;
}

.property-card-heading p {
    font-size: 14px;
    opacity: 0.8;
    margin: 6px 0;
}

.property-heart {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.property-heart i {
    color: #241673;
    position: absolute;
    top: 30%;
    left: 30%;
}

.property-heart:hover i{
    transform: scale(1.4);
    opacity: 0.8;
}

.property-info {
    margin-top: 8px;
}

.property-info span {
    font-size: 12px;
    opacity: 0.8;
}

.property-info i {
    margin: 0 4px;
    color: #6a5acd;
}

.rent-price {
    margin-top: 10px;
    background-color: #d6d9ef;
    padding: 22px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.rent-price__title{
    font-size: 14px;
    font-weight: 600;
}

.rent-price__number{
    font-size: 12px;
    opacity: 0.8;
}

.rent-price__number span{
    font-size: 22px;
    color: #241673;
    font-weight: 600;
}

.apply-btn {
    background: #2a2549;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s linear;  
}

.apply-btn:hover{
    background: #241673;
    transform: translateY(-4px);
}

.apply-btn i{
    margin: 2px 8px 0;
}